.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: #5182bd;
  padding: 15px;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
.header__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header__logo-wrapper svg {
  height: 75px;
}
.header__logo-text {
  color: #fff;
  font-size: calc(10px + 3vmin);
  white-space: nowrap;
}
.header__link {
  color: #fff;
  text-decoration: none;
  font-size: calc(10px + 2vmin);
}
.main {
  font-family: "PT Serif", serif;
  font-weight: 400;
  background: #fff;
}
.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about__container {
  padding-right: 15px;
  width: calc(50% - 15px);
}
.about__image {
  width: 100%;  
  height: 100%;
  object-fit: cover;
}
.about p {
  font-size: calc(10px + 1vmin);
}
.about__link {
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border: 2px solid;
  padding: 15px;
  text-align: center;
  margin: 1em 0;
  background: #6d1f15;
}
.about__list-icons {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 1em 0 6em;
  padding: 0;
}
.about__item-icon {
  margin-right: 1em;
}
h2 {
  padding: 2em 0 1em;
  text-align: center;
  color: #fff;
  font-size: calc(10px + 3vmin);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.skills {
  background-color: #5b885d;
  overflow: hidden;
}
.skills__list {
  display: flex;
  align-items: center;
  justify-content: center;  
  flex-wrap: wrap;
  text-align: center; 
}
.skills__item {
  display: block;
  margin: 15px;
  padding: 15px;
  height: 300px;
  background: #fff;
  width: 500px;
  border-radius: 15px;
}

@media (max-width: 800px) {
  .about__container {
    width: 100%;
    
  }
  .about__container.about__left {
  padding: 0;
  }
  .about__container.about__right {
    padding: 0 15px;
  }
}

@media (max-width: 500px) {
  .header__logo-text {
    display: none;
  }
  .header__link {
    font-size: calc(10px + 3vmin);
}
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes animate-background {
	from { background-position:  0 0;  }
	to { background-position: 2000px 0; }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
